<%= form_with scope: :comment, url: [:admin, @order, @order.comments.build]  do |f| %>
<div>
	<%= f.hidden_field :worker_id, :value => current_worker.id %>
</div>
<div>
	<%= f.text_area :body %>
</div>
<br>
<div>
	<%= f.submit 'Сохранить коментарии' %>
</div>
<% end %>
