<h1>Редактировать заказ</h1>

<form class="ui form">
  <div class="field">
    <label>Имя</label>
    <input type="text" name="first-name" placeholder="Имя">
  </div>
  <div class="field">
    <label>Телефон</label>
    <input type="text" name="last-name" placeholder="Телефон">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="last-name" placeholder="Email">
  </div>
  <div class="field">
    <label>Адрес</label>
    <input type="text" name="last-name" placeholder="Адрес">
  </div>
  <div class="field">
    <label>Способ доставки</label>
    <input type="text" name="last-name" placeholder="Способ доставки">
  </div>
  <div class="field">
    <label>Цена заказа</label>
    <input type="text" name="last-name" placeholder="Цена заказа">
  </div>
  <div class="field">
    <label>Количество</label>
    <input type="text" name="last-name" placeholder="Количество">
  </div>
  <div class="field">
    <label>Общая сумма</label>
    <input type="text" name="last-name" placeholder="Общая сумма">
  </div>
  <br>
  <button class="ui button" type="submit">Редактировать</button>
</form>
<% end %>
