<h1>Редактировать заказ</h1>
<form class="ui form">
  <div class="field">
    <%= form_with model: [:admin, @order], local: true do |f| %>
      <% if @order.errors.any? %>
        <div class="errors">
          Total errors: <%= @order.errors.count %>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <label>Имя</label>
    <input type="text" name="first-name" placeholder="Имя">
  </div>
  <div class="field">
    <label>Телефон</label>
    <input type="text" name="last-name" placeholder="Телефон">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="last-name" placeholder="Email">
  </div>
  <div class="field">
    <label>Адрес</label>
    <input type="text" name="last-name" placeholder="Адрес">
  </div>
  <div class="field">
    <label>Способ доставки</label>
    <input type="text" name="last-name" placeholder="Способ доставки">
  </div>
  <div class="field">
    <label>Цена заказа</label>
    <input type="text" name="last-name" placeholder="Цена заказа">
  </div>
  <div class="field">
    <label>Количество</label>
    <input type="text" name="last-name" placeholder="Количество">
  </div>
  <div class="field">
    <label>Общая сумма</label>
    <input type="text" name="last-name" placeholder="Общая сумма">
  </div>
  <br>
  <button class="ui button" type="submit">Редактировать</button>
</form>
<% end %>
