<h1>ОБЩАЯ СТАТИСТИКА</h1>

<table class="ui selectable celled table">
    <tr>
      <th>Период</th>
      <th>Заказы</th>
      <th>Оплачено заказов на сумму</th>
    </tr>

    <tr>
	  	<td>Сегодня</td>
	  	<td></td>
	  	<td></td>
    </tr>
</table>



