<h1>Должности</h1>
<% if current_worker.admin? %>
	<%= link_to 'Создать новую должность',new_admin_role_path, class:"ui positive basic button" %>
<% end %>
<table class="ui selectable celled black table", id="centred_table">
	<tr class="table_title">
		<th>Название</th>
		<th colspan="2">Действия</th>
	</tr>
	<% @roles.each do |role| %>
	<tr>
		<td>
			<h2>
				<%= link_to role.name, admin_role_path(role.id)%>
			</h2>
		</td>
		<td>
			<%= link_to edit_admin_role_path(role) do %>
				<i class="big edit outline icon"></i>
			<% end %>
		</td>
		<td>
			<%= link_to admin_role_path(role), method: :delete, data: { confirm: 'Вы уверены?' } do %>
				<i class="big trash alternate outline icon"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
