<h1>Должности</h1>
<table border="1">
	<tr>
		<th>Название</th>
		<th colspan="2">Действия</th>
	</tr>
	<% @roles.each do |role| %>
	<tr>
		<td><%= link_to role.name, admin_role_path(role.id)  %></td>
		<td><%= link_to 'Редактировать', edit_admin_role_path(role) %></td>
		<td><%= link_to 'Удалить', admin_role_path(role), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Создать новую должность',   new_admin_role_path %>


