<h1>Workers</h1>
<table border="1">
	<tr>
		<th>Email</th>
		<th>Nickname</th>
		<th colspan="3">Action</th>
	</tr>
	<% @workers.each do |worker| %>
	<tr>
		<td><%= worker.email %></td>
		<td><%= worker.nickname %></td>
		<td><%= link_to 'Show', worker_path(worker.id) %></td>
	</tr>
	<% end %>
</table>

