<h1>Товары</h1>
<table border="1">
	<tr>
		<th>Название</th>
		<th>Цена</th>
		<th>Описание</th>
		<th>Изображение</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= link_to product.name, product_path(product) %></td>
		<td><%= product.price %></td>
		<td><%= product.description %></td>
		<td>
			<% if product.picture.attached? %>
		    <%= image_tag product.picture, size: 100 %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>




