<h1>Функции</h1>
<table class="ui selectable celled black table", id="centred_table">
  <tr class="table_title">
    <th>Описание</th>
    <th>Доступ</th>    
    <th colspan="3">Действия</th>
  </tr>

  <% @functions.each do |function| %>
    <tr>      
      <td><%= function.description %></td>
      
      <td>
      <% if function.access == true %>
        <i class="grey large thumbs up icon"></i>     
      <% else %>
        <i class="grey large thumbs down outline icon"></i>
      <% end %>
      </td>

      <td>
        <% if function.access %>
          <%= link_to admin_access_path(function), method: :put do %>
            <i class="red large ban icon"></i>
          <% end %>

        <% else %>
          <%= link_to admin_access_path(function), method: :put do %>
            <i class="green large check circle icon"></i>
          <% end %>
        <% end %>
      </td>

      <td><%= link_to edit_admin_function_path(function) do %>
       <i class="large edit icon"></i></td>
      <% end %>

    </tr>
  <% end %>
</table>

<%#= link_to 'Создать новую функцию', new_admin_function_path, class:"ui teal button" %>
<br>
<br>
